.projects-carousel {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20%;
}

.projects-carousel .carousel-item {
  height: 500px;
}

.projects-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.001;
}


.projects-carousel .carousel-item.active img {
   opacity: 0.3;
}


.carousel-caption {
  opacity: 1 !important;
}

.carousel-caption h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}

/* When element becomes visible */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
