.App {
  text-align: center;
  background: transparent;
   position: relative;
  background: transparent;
  overflow: hidden;
}
.App-header {
  background-color: #282c34;
  background: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 20%;
  position: relative;
  background: transparent;
  padding: 20px;
}
.summary {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
       color: #A9A9A9; 
}





